{#
/**
 * @file cahoot.html.twig
 * Default theme implementation to present Cahoot data.
 *
 * This template is used when viewing Cahoot pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_cahoot()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('cahoot') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
